*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --light:#FF4141;
  --dark: #CD2525;
}

body {
  overflow-x: hidden;
}
.padding {
  padding: 3em 7em;
}

.hide {
  animation:  4s anime;
}


@keyframes anime {

  0% {
    background-color: black;
  }
  50% {
    background-color: rgba(12, 12, 12, 0.781);
  } 
  100% {
    background-color: black;
  }
}
@media screen and (max-width:670px) {
   .padding {
     padding: 1em 2em;
   }
}

/* // for tablet  */

@media screen and (min-width:670px) and (max-width: 1200px) {
    
}